<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app" class="app">
      
    </div>
    <script>  
      const { createApp } = Vue; 
      
      const vm = createApp({
        data() {
          return {
            isOpen: false,
            width: 200,
            height: 130,
            styles: {
              width: '200px',
              height: '130px',
              textAlign: 'center',
              lineHeight: '130px'
            },
            message: "Abrir"
          };
        },
        template: `
          <div>
            <div 
            <!--Estilos dinamicos, a veces se quiere cierto dinamismo en
              la ui que ayude a indicar o a que el usaurio tenga presente 
              que paso algo, o para dar un dinamismo estico, en esos casos
              vue tiene en cuenta una manera de lidear con los estilos.
              
              Se tienen dos casos donde se implica el v-bind, pues como
              recordamos vuelve reactivo a los atributos que se le indican

              En el caso del atributo class, hay dos maneras de asignar clases
               1. La primera es con un array que contendra las clases que se aplicaran
               2. La seguna es indicarle un json, que se contiene las clases como
               atributos y el valor de las clases son una expresion que al final
               dicha expresion tiene que devolver un true o un false.

               El otro caso es volver reactivo el atributo style, el cual contiene
               otro json, pero este tiene propiedades css y los valores de 
               las propiedades tambien son de css, es muy parecido a cuando
               escribes css
              -->
              :class="{red: !isOpen, green: isOpen, default: true}"
              :style="styles"
              > {{ dimmensions }} </div>
            <button @click="isOpen = !isOpen">{{ message }}</button>
            <div>
              <input type="number" id="width" v-model="width" />
              <input type="number" id="height" v-model="height" />
            </div>
          </div>
          
        `, 
        watch: {
          isOpen(value) {
            this.message = value ? 'Cerrar' : 'Abrir'
          },
          height(value) {
            this.styles.height = value + 'px'
            this.styles.lineHeight = value + 'px'
          },
          width(value) {
            this.styles.width = value + 'px'
          }
        },
        computed: {
          dimmensions() {
            return `${this.styles.width} x ${this.styles.height}`
          }
        }
      }).mount("#app");
      
    </script>
  </body>
</html>
