<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app" class="app"></div>
    <script>  
      const { createApp } = Vue; 
      
      const vm = createApp({
        data() {
          return {
            isOpen: false,
            text: "La puerta esta cerrada",
            userName: 'example',
          };
        },
        template: `
          <div class="container" :class="{
              'open': isOpen,
              'close': !isOpen
            }">
            <h2>{{ text }}</h2>
            <!--
              Mostrar contenido dependiendo el estado de la app
              es importante, y manejar el contenido con js puede resultar
              complicado cuando dicho contenido es lo suficientemente grande
              para ser considerado un componente, para ello vue ofrece las
              condicionales if-else, para llevar a cabo dicha tarea a nivel template
              que es donde colocamos los componentes o elementos.
            -->
            <div v-if="isOpen">
              <p>Hola, {{ userName }}</p>
            </div>
            <div v-else>
              <label>Username: </label>
              <input v-model="userName" />
            </div>
            <button @click="isOpen = !isOpen">
              <div v-if="!isOpen" >Acceder</div>
              <div v-else>Salir</div>
            </button>
          </div>
          
        `, 
        watch: {
          isOpen(value) {
            if(!value){
              this.text = 'Accede a tu cuenta'
              this.userName = ''
            }
            this.text = "Cierra sesión";
          },
        },
      }).mount("#app");
      
    </script>
  </body>
</html>
