<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <script src="https://unpkg.com/vue@3"></script>
    <div id="app" class="app"></div>
    <script>  
      const { createApp } = Vue; 
      
      const app = createApp({
        data() {
          return {
            isOpen: false,
            text: "Abrir sesión",
            userName: '',
            password: '',
            posts: [
              {
                title: "Un titulo chido", 
                description: "Puro chismecito del bueno, ven a leer en de que habla el mundo",
                canEdit: false
              },
              {
                title: "Un titulo chido", 
                description: "Puro chismecito del bueno, ven a leer en de que habla el mundo",
                canEdit: true
              },
              {
                title: "Un titulo chido", 
                description: "Puro chismecito del bueno, ven a leer en de que habla el mundo",
                canEdit: false
              },
              {
                title: "Un titulo chido", 
                description: "Puro chismecito del bueno, ven a leer en de que habla el mundo",
                canEdit: false
              },
              {
                title: "Un titulo chido", 
                description: "Puro chismecito del bueno, ven a leer en de que habla el mundo",
                canEdit: true
              },
            ],
            titlePost: '',
            descriptionPost: '',
            message: '',
            letKnowUser: false,
          };
        },
        template: `
          <header class="header">
            <h1 class="header__title">Another social website</h1>
          </header>
          <section v-if="!isOpen" class="login">
            <h2 class="login__title">Login</h2>
            <div class="login__label">username:</div>
            <input v-model="userName" class="login__input" />
            <div class="login__label">password:</div>
            <input type="password" v-model="password" class="login__input" />
            <button @click="logIn">Inicia Sesión</button>
          </section>
          <section class="posts" v-else>
            <h2 class="posts__title">Posts</h2>
            <publish-post />
            <ul class="posts__list"
              >
              <li 
                v-for="(item, index) in posts" 
                :key="index"  
                class="posts__item">
                  <post :postData="item" :index="index">
                    <!--Los componentes son utiles, pero lo interesante es que sean lo
                      mas reutilizables pero tambien flexibles, en consecuencia deben
                      poder variar algo en contenido si es que asi se requiere, por ejemplo en el
                      caso de las publicaciones, normalmente en una red social o en una
                      plataforma donde los usuarios publican contenido, se puede encontrar
                      con la situacion de encontrarse con publicaciones que el hizo y que otros
                      usuarios hicieron.
                      
                      Seria de lo mas normal que el usuario pueda editar sus publicaciones o
                      borrarlas pero  esa funcionalidad no deberia poderse en publicaciones que 
                      el no realizo, en este ejemplo tenemos que una publicacion se encuentra en 
                      dos situaciones que si bien tienen cierto parecido, no lo son del todo
                      para ese tipo de casos estan los slots, que nos permites insertar
                      contenido personalizado segun sea el caso
                      
                      Para ello se utiliza la etiqueta template que debe ser escrita dentro del
                      componente pero en la ubicacion donde dicho componente se esta utilizando
                      
                      Se debe asignar con la directva de v-slot el nombre, el cual ayuda a colocar
                      ese contenido en el slot correcto dentro del componente
                      -->
                    <template v-if="item.canEdit" v-slot:editpost>
                      <button>Borrar</button>
                      <button>Editar</button>
                    </template>
                  </post>
              </li>
            </ul>
          </section>
          <div v-if="letKnowUser" class="message">
            <div class="message__text">{{ message }}</div>
            <div class="message__button" @click="closeMessage"></div>
          </div>
        `,
        methods: {
          logIn() {
            const fields = [
              this.userName,
              this.password
            ]
            if(!this.isOpen && this.checkEmptyFields(fields)) {
              this.isOpen = !this.isOpen;
              this.closeMessage();
            } else {
              this.letKnowUser = true;
              this.message = "Necesitas ingresar usuario y contraseña para poder iniciar sesion"
            }
          },
          logOut() {

          },
          addPost() {
            const fields = [
              this.titlePost,
              this.descriptionPost
            ];
            if (this.checkEmptyFields(fields)) {
              this.posts.unshift({
                title: this.titlePost,
                description: this.descriptionPost
              });
              this.titlePost = '';
              this.descriptionPost = ''
            } else {
              this.letKnowUser = true;
              this.message = "Necesitas poner un titulo y contenido para crear el post"
            }
          },
          deletePost(index) {
            this.posts.splice(index, 1);
          },
          closeMessage() {
            this.letKnowUser = false;
            this.message = '';
          },
          checkEmptyFields(fields) {
            return !fields.includes('');
          }
        },
        watch: {
          isOpen(value) {
            if(!value){
              this.text = 'Accede a tu cuenta'
              this.userName = ''
            } else {
              this.text = "Cierra sesión";
            }
          },
        },
      });
      
      app.component("publish-post", {
        template: `
        <article class="post">
          <div class="post__label">Titulo del post</div>
            <input 
              class="post__title"
              placeholder="Escribe un gran titulo"
              v-model="titlePost"
              />
            <div class="post__label">Contenido</div>
            <textarea 
              class="post__description" 
              rows="4" 
              cols="42" 
              placeholder="Cuentanos que pasa por tu mente"
              v-model="descriptionPost"
              />
            <button 
              class="post__button"
              @click="addPost"
              >
                Agrega post
            </button>
        </article>
        `
      });

      app.component("post", {
        props: ["postData", "index"],
        template: `
          <h4 class="posts__title">{{ postData.title }}</h4>
          <p class="posts__description">{{ postData.description }}</p>
          <!--
            Se utiliza la etique slot para ubicar el contenido peronalizado
            se debe asignar el nombre con el atributo name y debe de escribirse un nombre
          -->
          <slot name=editpost></slot>
        `,
      });

      const vm = app.mount("#app")
    </script>
  </body>
</html>
